@model FormsIntro.ViewModels.RegisterViewModel
@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"

<form asp-controller="MockLogin" asp-action="Login" method="post">
    Email:  <input asp-for="Email" /> <br>
    Password: <input asp-for="Password" /><br>
    <button type="submit">Log in</button>
</form>
